---
// Component Imports
import Counter from '../components/Counter';
import Button from '../components/Button';
import Styles from './styles.css';

const someProps = {
	count: 0,
};

var date = Date();
var arr1 = date.split(' ');
var arr2 = arr1[4];


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel='stylesheet' href={Styles} />
	</head>
	<body>
		<main>
			<Counter {...someProps} client:visible>
				<h1>Hello, React!</h1>
			</Counter>
			<Button client:load>{arr2}</Button>
		</main>
	</body>
</html>
