.button {
    background-color: greenyellow;
    font: 1em sans-serif;
    display: flex;
    align-items: center;
    
}

.button > .button2{
    background-color: salmon;
    max-width: 55vw;
    margin: auto;
}